*{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}
body{
    background-color: rgb(68, 68, 68);
}

#msgs{
    margin: 0 auto;
    padding: 0;
}

#msgs div:nth-child(odd){
    background-color: #333;
    color: white;
}
#msgs div:nth-child(even){
    background-color: rgb(71, 70, 70);
    color: white;
}
.author{
    font-weight: bold;
    font-size: 20px;
}
p{
    margin: 8px;
}